@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  font-family: 'Ubuntu Mono', monospace;
}

.tab-content{
  height: 100%;
  display: none;
}


.tab-content_active{
  display: block;
}


.tab-button_active{
  background-color: #5C5C5C;
  border-right: 3px solid #00C896;
  color: #00C896;
  font-weight: bolder;
}
