.sidebar{
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: #5C5C5C;
}

.tab-list{
  display: flex;
  flex-direction: column;
}

.tab-button{
  padding: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: #F2ECFF;

  transition: all 200ms ease-in-out;
}

.tab-button:not(:last-of-type){
  border-bottom: 2px solid #8E8E8E;
}

.tab-button:hover{
  background-color: #00C896;
  color: #F2ECFF;
}

.tab-button:active{
  background-color: hsl(165, 100%, 28%);

  transition: background-color 100ms ease;
}

.tab-button_active{
  background-color: #5C5C5C;
  border-right: 3px solid #00C896;
  color: #00C896;
  font-weight: bolder;
}