@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.tab{
  background-color: #8E8E8E;
  padding: .5rem;
  overflow: hidden;
}

.tab-content{
  height: 100vh;
  display: none;
}

.tab-content_active{
  display: block;
}

.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-title{
  font-size: 2rem;
  font-family: 'Lobster', cursive;
}

.home-page-p{
  line-height: 1.5rem;
  text-align: center;
  padding: .5rem;
}