@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.tab{
  background-color: #8E8E8E;
  padding: .5rem;
  overflow: hidden;
}

.tab-content{
  height: 100vh;
  display: none;
}

.tab-content_active{
  display: block;
}

.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-title{
  font-size: 2rem;
  font-family: 'Lobster', cursive;
}

.home-page-p{
  line-height: 1.5rem;
  text-align: center;
  padding: .5rem;
}

.todoList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}

.list{
  border-radius: .5rem;
  padding: .5rem;
  text-align: center;
}

.not-done .list-header{
  border-bottom: 3px solid crimson;
}

.doing .list-header{
  border-bottom: 3px solid yellow;
}

.done .list-header{
  border-bottom: 3px solid #00C896;
}

/* .not-done-taskList{} */

.task{
  margin: .5rem .25rem;
  padding-inline: .5rem;
  text-align: left;
  border-radius: .5rem;
  background-color: aliceblue;
  color: #8E8E8E;
  cursor: pointer;
}

.not-done .task{
  border-right: 1.5rem solid crimson;
}

.doing .task{
  border-right: 1.5rem solid yellow;
}

.done .task{
  border-right: 1.5rem solid #00C896;
}